{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'header.html' %}    
    <div class="row justify-content-center pt-3">
        <div class="form-group col-md-4 col-md-offset-5 align-center ">
            <form   method="post" 
                    class="shadow-sm p-3 bg-white rounded" 
                    enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex">
                   <small>
                        <a  href="{% url 'agent:agent_profile' user.username %}" 
                            style="text-decoration: none;">
                            <i class="fa fa-arrow-left" aria-hidden="true">
                            </i> Go Back
                        </a>
                   </small>
                </div>
                <h4 class='h4 text-center p-2'>Update Lead Profile</h4>
                {{ form_user|crispy }}
                {{ form_profile|crispy }}
                <div class="mt-2 text-center">
                    <button type="submit" class='btn btn-primary btn-sm'>Update Profile <i class="fas fa-pen"></i></button>
                </div>        
            </form> 
        </div>
    </div>
{% endblock content %}