{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'header.html' %}    
    <div class="row justify-content-center pt-3">
        
        <div class="mx-auto mt-3" style="width: 50%;">
            <!-- Display Messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                        </button>
                        <strong>{{message}}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="d-flex align-item-center justify-content-between mb-3">
                    <small>
                        <!-- Go Back Button -->
                        <a  class="p-3"
                            id='back-btn'
                            href="{% url 'lead:lead-list' %}" 
                            style="text-decoration: none;">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </a>
                    </small>
                    <!-- Head Title -->
                    <div class="text-center">
                        <h4 class="mr-2">Category</h4> 
                        <small><p class="m-0 text-muted">These Category segments the leads</p></small>
                    </div>
                    <div class="text-center">
                    </div>
            </div>                                                             
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="d-flex justify-content-between border-bottom p-1 pb-0 bg-dark text-light">
                        <h6>Name</h6>
                        <h6>Lead Count</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom p-2 pb-0">
                        <a href="{% url 'category:unassigned-lead' %}"><h6>Unassigned</h6></a>
                        {% if UnassignedLeadCount != 0 %}
                            <p>{{ UnassignedLeadCount }}</p>
                        {% else %}
                            <p>None</p>
                        {% endif %}                        
                    </div>
                    <div class="d-flex justify-content-between border-bottom p-2 pb-0">
                        <a href="{% url 'category:contacted-lead' %}"><h6>Contacted</h6></a>
                        {% if ContactedLeadCount != 0 %}
                            <p>{{ ContactedLeadCount }}</p>
                        {% else %}
                            <p>None</p>
                        {% endif %} 
                    </div>
                    <div class="d-flex justify-content-between border-bottom p-2 pb-0">
                        <a href="{% url 'category:converted-lead' %}"><h6>Converted</h6></a>                        
                        {% if ConvertedLeadCount != 0 %}
                            <p>{{ ConvertedLeadCount }}</p> 
                        {% else %}
                            <p>None</p>
                        {% endif %} 
                    </div>
                </div>
            </div>
        </div>        
    </div>
{% endblock content %}